	 
	/* Define a color */
	:root {
		--bgcl:#333; /* background color */
		--brcl:#fff; /* borders color */
	}

	/* CSS for the two-column layout */
			.content-wrapper {
				display: flex;
				flex-direction: row;
			}

			.text-column {
				flex-grow: 1;
				width: 60%;
				padding-top: 0px; /* Add some spacing between the text and image */
			}

			.image-column {
				flex-shrink: 0;
				width: 40%;
				padding-left: 0px; /* Add some spacing between the text and image */
				padding-top: 00px; /* Add some spacing between the text and image */
			}

		/* CSS for the image */
			.image-column img {
				flex-shrink: 1;
				max-width: 80%;
				height: auto;
			}

		/* Reset some default styles */
			body, html {
				margin: 0%;
				padding: 0%;
				font-family: Arial, sans-serif;
			}

		/* Container for the entire page */
			.container {
				display: flex;
				height: 95%;
				width: 97%; /* force the width so text does not get cropped*/
			}


		/* Sidebar */
			.sidebar {
				background-color: var(--bgcl);
				color: var(--brcl);
				padding: 2%;
				width: 6%;
				position: fixed;
				top: 0%;
				left: 0;
				bottom: 0;
				padding-top: 10%;
				
				display: none;
				z-index: 99999; /* to be on top of any other elements */

			}

		/* Sidebar links */
			.sidebar a {
				color: var(--brcl);
				display: block;
				margin-bottom: 10%;
				text-decoration: none;
			}

		/* Main content, this is where sections are */
			.content {
				flex-grow: 1;
				margin-top: 1%; /* Add left margin to content to avoid overlap with fixed sidebar */
				margin-bottom: 5%; /* to compensate for the footer which is now 5%*/
				padding: 0%; /* Add desired padding value here */
				margin-left: 14%; /* Add left margin to content to avoid overlap with fixed sidebar */

			}

		/* Heading styles */
			h1 {
				color: var(--bgcl);
			}

    /* Show only the targeted section */
	   section:target {
		  display: block;
		}
		/* Section styles */
			section {
				display: none; /* Hide all sections by default */
			}

		/* lists styles */
			li{
			  margin: 0.5% 0%;
			}
		/* Footer styles */
			footer {
				flex-grow: 1;
				background-color: var(--bgcl);
				color: var(--brcl);
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 6%;
				text-align: right;
				line-height: 50%;
			}

		/* adding some padding for the research section which has id=research*/
		.research-section {
			/* padding: 00px; Add desired padding value here */
		}	
		
		

